#%YAML 1.2
# SPDX-FileCopyrightText: Copyright (c) 2022-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

---
source: "replayer" # "replayer" or "yuan"
visualizer: "holoviz" # "holoviz" 
record_type: "none"  # or "input" if you want to record input video stream, or "visualizer"
record_output: true # Setting this to `false` disables H264 encoding of output and recording

model_type: "yolo_seg_v9"
model_name: "Urology_yolov11x-seg_3-13-16-17val640rezize_1_4.40.0_nms.onnx"

# Video source configuration
yuan:
  width: 1920
  height: 1080
  pixel_format: nv12
  rdma: true
  input_type: hdmi

replayer: # VideoStreamReplayer
  basename: "tensor"
  frame_rate: 30 # as specified in timestamps
  repeat: false
  realtime: false # default: true
  count: 0 # default: 0 (no frame count restriction)

# Preprocessing configuration
segmentation_preprocessor: # FormatConverter
  out_tensor_name: seg_preprocessed
  out_dtype: "float32"
  in_dtype: "rgb888"
  resize_width: 640
  resize_height: 640

# Inference configuration
inference: # Inference
  backend: "trt"
  pre_processor_map:
    "seg": [ "seg_preprocessed" ]
  enable_fp16: true

# Postprocessing configuration
yolo_postprocessor:
  scores_threshold: 0.2
  num_class: 12
  out_tensor_name: out_tensor

# Visualization configuration
viz: # Holoviz
  width: 1920
  height: 1080
  color_lut: [
    [ 0.0000, 0.0000, 0.0000, 0.0000 ],  # Background
    [ 0.1451, 0.9412, 0.6157, 0.2000 ],  # Spleen
    [ 0.8941, 0.1176, 0.0941, 0.2000 ],  # Left_Kidney
    [ 1.0000, 0.8039, 0.1529, 0.2000 ],  # Left_Renal_Artery
    [ 0.0039, 0.9373, 1.0000, 0.2000 ],  # Left_Renal_Vein
    [ 0.9569, 0.9019, 0.1569, 0.2000 ],  # Left_Ureter
    [ 0.0157, 0.4549, 0.4509, 0.0000 ],  # Left_Lumbar_Vein
    [ 0.8941, 0.5647, 0.0706, 0.0000 ],  # Left_Adrenal_Vein
    [ 0.5019, 0.1059, 0.4471, 0.0000 ],  # Left_Gonadal_Vein
    [ 1.0000, 1.0000, 1.0000, 0.2000 ],  # Psoas_Muscle
    [ 0.4314, 0.4863, 1.0000, 0.0000 ],  # Colon
    [ 0.6784, 0.4941, 0.2745, 0.0000 ]   # Abdominal_Aorta
  ]

# Video encoding configuration
video_encoder_request:
  inbuf_storage_type: 1
  codec: 0
  input_width: 1920
  input_height: 1080
  input_format: "yuv420planar"
  profile: 2
  bitrate: 20000000
  framerate: 30
  config: "pframe_cqp"
  rate_control_mode: 0
  qp: 20
  iframe_interval: 5

video_encoder_response:
  outbuf_storage_type: 1

bitstream_writer:
  frame_width: 1920
  frame_height: 1080
  inbuf_storage_type: 1

# Format converters
holoviz_output_format_converter:
  in_dtype: "rgba8888"
  out_dtype: "rgb888"
  resize_width: 1920
  resize_height: 1080

encoder_input_format_converter:
  in_dtype: "rgb888"
  out_dtype: "yuv420"

tensor_to_video_buffer:
  video_format: "yuv420" 